$red: #48a0ff;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


.landingpage {
  font-family: 'Poppins', sans-serif;

  .wrapper {
    background-color: white;
    width: 310px;
    height: 385px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(185, 185, 185);
    position: absolute;
    right: 15%;
    top: 130px;
    z-index: 50;

    .right_side{
        > div{
          &:before{
            content: '';
            position: absolute;
            top: 330px;
            left: -45px;
            width: 100px;
            height: 100px;
            border-radius: 80px;
            border: 40px solid #c7e4ffaf;
          }
        }
        &:after{
          content: '';
          position: absolute;
          top: -50px;
          right: -55px;
          z-index: -1;
          width: 150px;
          height: 150px;
          background-image: radial-gradient(circle at 3px 3px, #a4d3f3 3px, transparent 0);
         background-size: 20px 20px;
        }
      }
      

    .header{
      width: 100%;
      position: absolute;
  }

  section {
    margin-top: 150px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
}

    .button-daftar {
      color: #fff;
      cursor: pointer;
      line-height: 45px;
      max-width: 160px; 
      text-transform: uppercase;
      width: 100%;
      background: lighten($red, 3%);  
      border: 1px solid darken($red, 4%);
      box-shadow: 0px 2px 0 darken($red, 5%), 2px 4px 6px darken($red, 2%);
      font-weight: 900;
      letter-spacing: 1px;
      border-radius: 8px;
      outline: none;
      border: none;
      &:hover {
        background: darken($red, 1.5%);
        border: 1px solid rgba(#000, .05);
        box-shadow: 1px 1px 2px rgba(#fff, .2);
        color: lighten($red, 18%); 
        text-shadow: -1px -1px 0 darken($red, 9.5%);
      }
    }
  }

  .left {
      .person {
          z-index: 5;
          position: fixed;
          height: 40%;
          top: 45%;
          left: 7%;
      }

      .screen1 {
          top: 15%;
          left: 23%;
          z-index: 2;
          height: 30%;
          position: fixed;
          animation: screen1 3s ease-in-out infinite;
      }

      @keyframes screen1 {
          0%{
              top: 15%;
          }
          50%{
              top: 13%;
          }
          100% {
              top: 15%;
          }
      }

      .screen2 {
          top: 20%;
          left: 13%;
          z-index: 2;
          height: 15%;
          position: fixed;
          animation: screen2 2.5s ease-in-out infinite;
      }

      @keyframes screen2 {
          0%{
              top: 25%;
          }
          50%{
              top: 28%;
          }
          100% {
              top: 25%;
          }
      }

      .screen3 {
          top: 40%;
          left: 25%;
          z-index: 2;
          height: 25%;
          position: fixed;
          animation: screen3 2s ease-in-out infinite;
      }

      @keyframes screen3 {
          0%{
              top: 43%;
          }
          50%{
              top: 46%;
          }
          100% {
              top: 43%;
          }
      }

  }

}

@media (max-width: 700px) {
  .landingpage {
      display: flex;
      justify-content: center;
      .wrapper {
          position: relative;
          left: auto;
          right: auto;
      }
  }


}