.rows {
    height: 100vh;
    padding: 0;
    margin: 0;
}


    .login {
        background: #fff;
        padding: 50px 100px;
        border-radius: 8px;
        margin: auto;
        position: absolute;
        top: 50%; left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
        border: 1px solid rgb(204, 203, 203);
        .teks {
            position: relative;
            bottom: -40px;
            left: -10px;
            .textlogin {
                margin-bottom: 50px;
                color: #000000;
                font-weight: 100;
            }
        }
      
        .form {
            .button {
            padding: 5px 25px 5px 25px;
            border: none;
            border-radius: 3px;
            width: 100%;
            background: #2875ce;
            color: #fff;
            &:hover {
                background:  #0056b3;

            }
            }
            .iuser {
                position: relative;
                bottom: -38px;
                left: -7px;
                color: #696767;
            }
            .ikey {
                position: relative;
                bottom: -38px;
                left: -7px;
                color: #696767;
            }
        }
    }
    .validate {
            font-weight: lighter;
            border-radius: 5px;
            font-size: 15px;
            background: #fcd5d5;
            color: #5f2f2f;
            position: relative;
    }

@media screen and (max-width: 600px) {
        .login {
            border: none;
            left: 53%;
            width: 113%;
            height: 102vh;
            margin-top: -30px;
            .form {
                position: relative;
                bottom: -80px;
             .iuser {
                    position: relative;
                    left: -65px;
                    bottom: -60px;
             }
             .ikey {
                position: relative;
                left: -65px;
                bottom: -60px;
             }
         }
         .validate {
             width: 100px;
             right: -35px;
         }
        }
    }
